/*Usos generales*/
:root{
    --titulos: 'Alfa Slab One', cursive;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: aliceblue;
    font-size: 1.6rem;
    line-height: 1.8;
}

h1, h2, h3, h4, h5 {
    font-family: var(--titulos);
}

p{
    font-family: var(--titulos);
}

/*Navbar brand*/
#brand{
    text-align: center;
    margin: 0 50%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

/*Search bar. Input && button*/
.search-bar{
    padding-top: 1rem;
    margin-bottom: 2rem;
}

#search-input{
    margin-left: 5rem;
    font-size: 2rem;
}

#search-input::placeholder{
    
}

#search-button{
    margin-right: 5rem;
    font-size: 2rem;

}

/* Card */
.card:hover{
    transform: scale(1.10);
}